* {
    box-sizing: border-box;
    scrollbar-width: none;
}

a {
    text-decoration: none;
}

html{
    width: 100%;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.filler {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: white;
    height: 150px;
}

.background{
    background: url("res/background.png");
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0; top: 0;
    z-index: -1;
}

.main-header{
    z-index: 3;
    margin: 100px 0 100px 0;
    padding: 30px 0 30px 0;
    background-color: white;
    position: sticky;
    top: 0; left: 0;
    width: 100%;
    box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.75);
}

.main-title-container{
    text-align: center;
}

.main-title{
    text-decoration: none;
    font-size: 48pt;
    font-family: 'Amatic SC', cursive;
    color: black;
}

.main-navbar__contents{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-navbar__content{
    margin-left: 20px;
    transition: border-bottom-color 300ms ease-in;
    font-weight: bold;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
}

.button{
    padding: 5px;
    /* font-family: "Bodoni MT", sans-serif; */
    font-size: 1.5rem;
    font-weight: lighter;
}

.button:hover{
    cursor:pointer;
    background: black;
    color: white;
}

#btnProjects{
    border-bottom: 2px solid black;
}

#projects__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}


.project__container{
    overflow: hidden;
    margin-bottom: 40px;
    width: 450px;
    min-width: 450px;
    height: 250px;
    border-radius: 5px;
    box-shadow: -21px 20px 64px -31px rgba(0,0,0,0.75);
    position: relative;
}

.project__image{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

.project__foreground{
    height: 125%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
    align-items: center;
    z-index: 2;
    transition: bottom 300ms ease-in, background-color 300ms ease-in;
    position: absolute;
    bottom: -100%;
    overflow: hidden;
}

.project__foreground:hover{
    bottom: 0; left:0;
    background: rgba(0,0,0,0.8);
}

::-webkit-scrollbar {
    display: none;
}

.project__foreground__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9rem;
    overflow-y: scroll;
    transition: opacity 1s ease-in;
}

.information__title{
    color: white;
    font-size: 1.4rem;
}

.project__foreground__content__labels{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.project__foreground__content__label{
    border: 1px solid white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    justify-content: center;
    color: white;
    border-radius: 8px;
    padding: 5px 10px 5px 0;
}

.label{
    height: 20px;
    width: 30px;
}

.project__foreground__content > p{
    color: white;
    margin: 0;
}

.project__foreground > img{
    margin-top: 25px;
    width: 15px;
    height: 10px;
}

.project__foreground__content__gitbtn{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    transition: background-color 200ms ease-in, color 200ms ease-in;
    padding: 5px 10px 5px 0;
    color: white;
}

.project__foreground__content__gitbtn:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.github--img{
    width: 30px;
    height: 20px;
}


#project6{
    background: white;
}
#project6 > img{
    object-fit: contain;
}

#pdf--container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: auto auto 170px auto;
    box-shadow: -21px 20px 64px -31px rgba(0,0,0,0.75);
}

.pdf{
    width: 100%;
}

.hidden{
    display:none;
}
@media only screen and (max-width: 1000px) {
    #pdf--container {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) {
    #pdf--container {
        width: 100%;
    }
}

